aside {
  height: 100%;
  border-left: var(--border-size) solid;
  width: 28rem;
}
.plink {
  height: 5rem;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-wrapper {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-text-wrapper{
  width: 32rem;
}
.plink-first {
  border-radius: 1rem 0 0 1rem;
}
.plink-last {
  border-radius: 0 1rem 1rem 0;
}
.footer{
    width: calc(100% - 28rem);
}
.text-wrapper {
  padding-top: var(--navbar-height);
  padding-right: 28rem;
}
